#wrapper{
	width: 60%;
	margin: 0 auto;
	float: left;
	padding: 20px; 
	
	
}

body{
	background: linear-gradient(to right, #000, #FFF);
	color: #FFF;
	font-family: Arial, sans-serif;
	font-size: 1.5em;
	text-align: left;
	padding: 20px;
	
	
	

}


h1 {
	font-family: serif, Arial;
	border-style: dashed;
	border-width: 5px;
	border-color: #DC143C;
	padding: 20px;
	color: #FFF;
	margin: 10px;
	opacity: 0.9;
	border-radius: 20px;
	text-shadow: 2px 2px #000;
	font-weight: normal;
	background-image: url("../images/1444952316_A_Young_Leo.png");
	background-repeat: no-repeat;
	text-align: right;
}

footer p {
	font-style: italic;
}

h2{
	font-family: serif, Arial;
	border: 2px dashed #DC143C;
	width: 200px;
	padding: 10px;
	color: #FFF;
	margin: 5px;
	border-radius: 10px;
	text-shadow: 2px 2px #000;
	font-weight: normal;
	background-image: url("../images/presence-ii.png");
	background-repeat: repeat-x;
}
ul{
	list-style-type: square;
	display: inline-block;
	

}

a:link{
	color: green;
	
}

a:hover{
	color: #cc00ff;
	font-style: italic;
}

a:visited{
	color: #ff0000;

}

a:active{
	color: #0066FF;
}

figure{
	margin: 10% auto;
}

#sidebar{
	width: 20%;
	float: left;
	padding: 20px;
	margin: 20px;
	border: 5px dashed #DC143C; 
	overflow: hidden;

} 

img.sidebar1{
	width: 200px
	
}
img.sidebar2{
	width: 200px;
}

img.sidebar3{
	width: 200px;
}

img.Lion{
	width: 400px;
}



